@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Pacifico;
  src: url(/Pacifico-Regular.ttf);
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-pacifico: var(--font-pacifico);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9761 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.7505 0.1791 58.2827);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6991 0.1570 238.9942);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9219 0 0);
  --muted-foreground: oklch(0 0 0);
  --accent: oklch(0.8442 0.1722 84.9338);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6520 0.2340 26.6909);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8975 0 0);
  --input: oklch(0.9761 0 0);
  --ring: oklch(1.0000 0 0);
  --chart-1: oklch(0.7505 0.1791 58.2827);
  --chart-2: oklch(0.6991 0.1570 238.9942);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.7536 0.1626 130.5022);
  --chart-5: oklch(0.6582 0.1690 248.8135);
  --sidebar: oklch(0.9761 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.7505 0.1791 58.2827);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: rgb(255, 193, 6);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8975 0 0);
  --sidebar-ring: oklch(1.0000 0 0);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --font-pacifico: Pacifico;
  --radius: 8px;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3052 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7720 0.1738 64.5520);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6029 0.1466 243.4595);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.7938 0.1248 42.4248);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6520 0.2340 26.6909);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4495 0 0);
  --input: oklch(0.3052 0 0);
  --ring: oklch(0.2178 0 0);
  --chart-1: oklch(0.7720 0.1738 64.5520);
  --chart-2: oklch(0.6029 0.1466 243.4595);
  --chart-3: oklch(0.7938 0.1248 42.4248);
  --chart-4: oklch(0.6731 0.1624 144.2083);
  --chart-5: oklch(0.6582 0.1690 248.8135);
  --sidebar: oklch(0.3052 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7720 0.1738 64.5520);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7938 0.1248 42.4248);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4495 0 0);
  --sidebar-ring: oklch(0.2178 0 0);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --font-pacifico: "Pacifico", cursive;
  --radius: 8px;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}
 

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}